<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/employee-portal.css">
    <title>Alex Bank</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <meta name="theme-color" content="rgb(131, 152, 162)" />
    <link rel="stylesheet" href="../src/style.css">
    <link rel="stylesheet" href="../src/multiselect.css">
    <script src="../src/functions.js"></script>
    <title>Employee Portal</title>
</head>
<body>
    <div id="app">
        <div v-if="isLoggedIn && ['A', 'C', 'E'].includes(user_role)">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div>
                        <h2><a style="color: #000 !important; text-decoration: none; cursor: pointer;" href="index.html"><span><img height="20px" src="../img/alex_bank.png"> </span>Employee Portal</a></h2>
                    </div>
                    <div class="accordion">
                        <div class="accordion-group" data-group="group1" v-if="['A', 'C'].includes(user_role)">
                            <div class="accordion-header"><span><img src="../assets/chart-simple-solid.svg"></span> <span class="accordion-body-title">Executive Reports</span></div>
                            <div class="accordion-body">
                                <p><a>Report 1</a></p>
                                <p><a>Report 2</a></p>
                            </div>
                        </div>
                        <div class="accordion-group" data-group="group2">
                            <div class="accordion-header"><span><img src="../assets/user-solid.svg"></span> <span class="accordion-body-title">Accounts</span></div>
                            <div class="accordion-body">
                                <p><a href="manage-account.html">Manage Accounts</a></p>
                                <p><a>Create Account</a></p>
                            </div>
                        </div>
                        <div class="accordion-group" data-group="group3">
                            <div class="accordion-header"><span><img src="../assets/handshake-simple-solid.svg"></span> <span class="accordion-body-title">Client Products</span></div>
                            <div class="accordion-body">
                                <p><a href="manage-products.html">Manage Products</a></p>
                                <p><a>Sell Product</a></p>
                            </div>
                        </div>
                        <div class="accordion-group" data-group="group4">
                            <div class="accordion-header"><span><img src="../assets/store-solid.svg"></span> <span class="accordion-body-title">Products</span></div>
                            <div class="accordion-body">
                                <p><a>Manage Product</a></p>
                                <p><a>New Product</a></p>
                            </div>
                        </div>
                        <div class="accordion-group" data-group="group5">
                            <div class="accordion-header"><span><img src="../assets/building-user-solid.svg"></span> <span class="accordion-body-title">Employees</span></div>
                            <div class="accordion-body">
                                <p><a>Manage Employees</a></p>
                                <p><a>Add Employee</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-footer">
                        <p><a href="../myaccount/index.html"><span><img src="../assets/circle-user-solid.svg"></span> <span class="sidebar-footer-title">My Account</span></a></p>
                        <p><a href="../index.html"><span><img height="17px" src="../assets/arrow-left-solid.svg"></span> <span class="sidebar-footer-title">Alex Bank Home</span></a></p>
                    </div>
                </div>
            </div>

            <div class="emp-portal-content">

                <div class="heading-row">
                    <h2>Manage Accounts</h2> 
                    <div class="search-container">
                        <input type="text" id="search-input" placeholder="Go to Account ID..." @keyup.enter="goToAccount" />
                        <button id="search-button" @click="goToAccount">
                            <img src="../assets/arrow-right-solid.svg" alt="Search">
                        </button>
                    </div>
                </div>

                <!-- <div>
                    <div class="tags-container" id="tags-container" style="height: 30px;">
                        <span class="tag" v-for="opt in statuses.filter(status => !status.show)" :key="opt.code">
                            {{ opt.name }}<span class="tag-close" @click="showOption(opt)">x</span>
                        </span>
                        <div class="arrow-container" id="arrow-button"></div>
                    </div>            
                    <div id="myDropdown" class="dropdown-content">
                        <a style="cursor: pointer;" v-for="opt in statuses.filter(status => status.show)" :key="opt.code" @click="hideOption(opt)">
                            {{ opt.name }}
                        </a>
                    </div>
                </div> -->
            </div>
        </div>

        <div v-else-if="isLoggedIn && !['A', 'C', 'E'].includes(user_role)" class="content">
            <h2 style="color: red; text-align: center;">You do not have access to this page!</h2>
        </div>

        <div v-else class="content">
            <h2 style="color: red; text-align: center;">You are not logged in!</h2>
        </div>

        <script>
            // document.addEventListener('DOMContentLoaded', function() {
            //     const arrowButton = document.getElementById('arrow-button');
                
            //     arrowButton.addEventListener('click', function() {
            //         document.getElementById("myDropdown").classList.toggle("show");
            //     });
            // });

            const { createApp } = Vue;
            createApp({
                data() {
                    return {
                        isLoggedIn: isLoggedIn(),
                        usr_account_id: sessionStorage.getItem("account_id"),
                        first_name: sessionStorage.getItem("first_name"),
                        last_name: sessionStorage.getItem("last_name"),
                        user_role: sessionStorage.getItem("user_role"),
                        statuses: [
                            { "code": "CMP", "name": "Complete", "show": true }, 
                            { "code": "WOF", "name": "Written Off", "show": true }, 
                            { "code": "ORD", "name": "Overdue", "show": true }
                        ]
                    };
                },
                methods: {
                    showOption(opt) {
                        opt.show = true;
                    },
                    hideOption(opt) {
                        opt.show = false;
                    }, 
                    goToAccount() {
                        const query = document.getElementById('search-input').value;
                        if (query) {
                            window.location.href = `account.html?account_id=${encodeURIComponent(query)}`;
                        }
                    }
                }, 
                mounted() {
                    document.querySelectorAll('.accordion-header').forEach(header => {
                        header.addEventListener('click', function() {
                            const body = this.nextElementSibling;
                            body.classList.toggle('show');
                        });
                    });
                }
            }).mount('#app');
        </script>
    </div>
</body>
</html>
