<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/employee-portal.css">
    <title>Alex Bank</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <meta name="theme-color" content="rgb(131, 152, 162)" />
    <link rel="stylesheet" href="../src/style.css">
    <link rel="stylesheet" href="../src/multiselect.css">
    <script src="../src/functions.js"></script>
    <title>Employee Portal</title>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<body>
    <div id="app">
        <div v-if="isLoggedIn && ['A', 'C'].includes(user_role)">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div>
                        <h2><a style="color: #000 !important; text-decoration: none; cursor: pointer;" href="index.html"><span><img height="20px" src="../img/alex_bank.png"> </span>Employee Portal</a></h2>
                    </div>
                    <div class="accordion" v-if="menu.length != 0">
                        <div v-for="(group, index) in menu" class="accordion-group" :data-group="group.dataGroup">
                            <div v-if="group.privileges.includes(user_role)">
                                <div class="accordion-header" @click="toggleAccordion(index)"><span><img :src="group.icon"></span> <span class="accordion-body-title">{{group.displayName}}</span></div>
                                <div class="accordion-body" :class="{ show: openIndex === index }">
                                    <p v-for="child in group.children"><a :href="child.url">{{child.displayName}}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-footer">
                        <p><a href="../myaccount/index.html"><span><img src="../assets/circle-user-solid.svg"></span> <span class="sidebar-footer-title">My Account</span></a></p>
                        <p><a href="../index.html"><span><img height="17px" src="../assets/arrow-left-solid.svg"></span> <span class="sidebar-footer-title">Alex Bank Home</span></a></p>
                    </div>
                </div>
            </div>

            <div class="emp-portal-content">
                <h2>Manage Products & Drafts</h2> 

                <div class="card">
                    <div class="heading">
                        <h3>Drafts</h3>
                        <select v-model="drafts_show" style="margin: 0;">
                            <option value="preview">My Drafts Preview </option>
                            <option value="my">My Drafts </option>
                            <option value="all" v-if="user_role == 'A' || user_role == 'C'">All Drafts </option>
                        </select> 
                    </div>
                </div>     
                
                <br>

                <div class="product-grid" v-if="drafts_show=='preview'">
                    <a class="product-card" v-for="prod in products.filter(obj => obj.draft_owner == user_account_id).slice(0, 3)" :href="'product.html?product_id='+prod.product_id">
                        <img :src="'../img/products/'+prod.picture_name+'.png'"> 
                        <div class="product-title">{{prod.name}}</div>
                        <div class="product-description"><span class="highlight">{{prod.category_name}}</span> | {{prod.available_from}} - {{prod.available_till}} </div>
                        <div class="product-description">{{prod.description}}</div>
                    </a>
                </div>
                <div class="product-grid" v-else-if="drafts_show=='my'">
                    <a class="product-card" v-for="prod in products.filter(obj => obj.draft_owner == user_account_id)" :href="'product.html?product_id='+prod.product_id">
                        <img :src="'../img/products/'+prod.picture_name+'.png'"> 
                        <div class="product-title">{{prod.name}}</div>
                        <div class="product-description"><span class="highlight">{{prod.category_name}}</span> | {{prod.available_from}} - {{prod.available_till}} </div>
                        <div class="product-description">{{prod.description}}</div>
                    </a>
                </div>
                <div class="product-grid" v-if="drafts_show=='all'">
                    <a class="product-card" v-for="prod in products" :href="'product.html?product_id='+prod.product_id">
                        <img :src="'../img/products/'+prod.picture_name+'.png'"> 
                        <div class="product-title">{{prod.name}}</div>
                        <div class="product-description"><span class="highlight">{{prod.category_name}}</span> | {{prod.available_from}} - {{prod.available_till}} </div>
                        <div class="product-description">{{prod.description}}</div>
                    </a>
                </div>

                <br>

                <div class="card">
                    <div class="heading">
                        <h3>Products</h3>
                        <select v-model="products_show" style="margin: 0;">
                            <option value="current">Current </option>
                            <option value="all">All Products </option>
                        </select> 
                    </div>
                </div>   

                <br>

                <div class="product-grid" v-if="products_show=='all'">
                    <a class="product-card" v-for="prod in all_products" :href="'product.html?product_id='+prod.product_id">
                        <img :src="'../img/products/'+prod.picture_name+'.png'"> 
                        <div class="product-title">{{prod.name}}</div>
                        <div class="product-description"><span class="highlight">{{prod.category_name}}</span> | {{prod.available_from}} - {{prod.available_till}} </div>
                        <div class="product-description">{{prod.description}}</div>
                    </a>
                </div>

                <div class="product-grid" v-if="products_show=='current'">
                    <a class="product-card" v-for="prod in current_products" :href="'product.html?product_id='+prod.product_id">
                        <img :src="'../img/products/'+prod.picture_name+'.png'"> 
                        <div class="product-title">{{prod.name}}</div>
                        <div class="product-description"><span class="highlight">{{prod.category_name}}</span> | {{prod.available_from}} - {{prod.available_till}} </div>
                        <div class="product-description">{{prod.description}}</div>
                    </a>
                </div>

            </div>
        </div>

        <div v-else-if="isLoggedIn && !['A', 'C'].includes(user_role)" class="content">
            <h2 style="color: red; text-align: center;">You do not have access to this page!</h2>
        </div>

        <div v-else class="content">
            <h2 style="color: red; text-align: center;">You are not logged in!</h2>
        </div>
    </div>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    isLoggedIn: isLoggedIn(),
                    user_role: sessionStorage.getItem("user_role"),
                    user_account_id: sessionStorage.getItem("account_id"),
                    menu: [],
                    openIndex: null, 
                    products: [], // drafts 
                    drafts_show: "preview", 
                    products_show: "current", 
                    current_products: [], 
                    all_products: []
                };
            },
            methods: {
                async loadMenu () {
                    try {
                        const response = await fetch("menu.json");
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        const menu = await response.json();
                        this.menu = menu;
                    } catch (error) {
                        console.error("Failed to load menu:", error);
                    }
                },
                toggleAccordion(index) {
                    this.openIndex = this.openIndex === index ? null : index;
                }, 
                async loadPageContent() {
                    if (this.user_role == 'A' || this.user_role == 'C') {
                        const response = await fetch(`${API_BASE_URL}/product/drafts/?view_all_yn=Y`, {
                            method: "GET", 
                            headers: {
                                "Content-Type": "application/json",
                                "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                            }
                        });
                        const data = await response.json();
                        if(!response.ok) {
                            console.log(`An error occurred: ${data}`);
                        }
                        for (let i = 0; i < data.length; i++) {
                            if (data[i].available_from === null) {
                                data[i].available_from = "Unspecified";
                            }
                            if (data[i].available_till === null) {
                                data[i].available_till = "Unspecified";
                            }
                        }
                        this.products = data; 
                    }
                    else {
                        const response = await fetch(`${API_BASE_URL}/product/drafts/`, {
                            method: "GET", 
                            headers: {
                                "Content-Type": "application/json",
                                "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                            }
                        });
                        const data = await response.json();
                        if(!response.ok) {
                            console.log(`An error occurred: ${data}`);
                        }
                        for (let i = 0; i < data.length; i++) {
                            if (data[i].available_from === null) {
                                data[i].available_from = "Unspecified";
                            }
                            if (data[i].available_till === null) {
                                data[i].available_till = "Unspecified";
                            }
                        }
                        this.products = data; 
                    }

                    const response1 = await fetch(`${API_BASE_URL}/product/products`, {
                        method: "GET", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }
                    });
                    const data1 = await response1.json();
                    if(!response1.ok) {
                        console.log(`An error occurred: ${data1}`);
                    }
                    for (let i = 0; i < data1.length; i++) {
                        if (data1[i].available_from === null) {
                            data1[i].available_from = "Unspecified";
                        }
                        if (data1[i].available_till === null) {
                            data1[i].available_till = "Unspecified";
                        }
                    }
                    this.current_products = data1; 

                    const response2 = await fetch(`${API_BASE_URL}/product/products?only_active_yn=N`, {
                        method: "GET", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }
                    });
                    const data2 = await response2.json();
                    if(!response2.ok) {
                        console.log(`An error occurred: ${data2}`);
                    }
                    for (let i = 0; i < data2.length; i++) {
                        if (data2[i].available_from === null) {
                            data2[i].available_from = "Unspecified";
                        }
                        if (data2[i].available_till === null) {
                            data2[i].available_till = "Unspecified";
                        }
                    }
                    this.all_products = data2; 
                }
            },
            mounted() {
                this.loadMenu();
                redirectIfNotLoggedIn();
                this.loadPageContent();
            }
        }).mount('#app');
    </script>
</body>
</html>
