<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/employee-portal.css">
    <title>Alex Bank</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <meta name="theme-color" content="rgb(131, 152, 162)" />
    <link rel="stylesheet" href="../src/style.css">
    <link rel="stylesheet" href="../src/multiselect.css">
    <script src="../src/functions.js"></script>
    <script src="node_modules/tinymce/tinymce.min.js"></script>
    <title>Employee Portal</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: none;
            
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .button-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky; 
            top: 0; 
            background-color: white; 
            z-index: 1000; 
            width: calc(100% + 20px);
            margin-left: -20px; 
            padding-left: 20px;
        }
        .header-text {
            font-size: 20px;
        }
        .header-buttons {
            display: flex;
        }
        .header-buttons button {
            margin-left: 10px;
            cursor: pointer;
        }

        select:disabled {
            background-color: transparent;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-if="isLoggedIn && ['A', 'C', 'E'].includes(user_role)">
            <div class="sidebar">
                <div class="sidebar-content">
                    <div>
                        <h2><a style="color: #000 !important; text-decoration: none; cursor: pointer;" href="index.html"><span><img height="20px" src="../img/alex_bank.png"> </span>Employee Portal</a></h2>
                    </div>
                    <div class="accordion" v-if="menu.length != 0">
                        <div v-for="(group, index) in menu" class="accordion-group" :data-group="group.dataGroup">
                            <div v-if="group.privileges.includes(user_role)">
                                <div class="accordion-header" @click="toggleAccordion(index)">
                                    <span><img :src="group.icon"></span>
                                    <span class="accordion-body-title">{{group.displayName}}</span>
                                </div>
                                <div class="accordion-body" :class="{ show: openIndex === index }">
                                    <p v-for="child in group.children.filter(child => !child.privileges || child.privileges.includes(user_role))">
                                        <a :href="child.url">{{child.displayName}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="sidebar-footer">
                        <p><a href="../myaccount/index.html"><span><img src="../assets/circle-user-solid.svg"></span> <span class="sidebar-footer-title">My Account</span></a></p>
                        <p><a href="../index.html"><span><img height="17px" src="../assets/arrow-left-solid.svg"></span> <span class="sidebar-footer-title">Alex Bank Home</span></a></p>
                    </div>
                </div>
            </div>

            <div class="popup" id="customColumnPopup">
                <div class="popup-content">
                    <h3 style="margin: 0px;">Edit Custom Column <span class="close" @click="edit_custom_column(null)">&times;</span></h3>
                    <br>
                    <form @submit.prevent="" >
                        <label>Column Name:</label>
                        <input type="text" v-model="temp_custom_column_object.column_name" maxlength="255">
                        <label>Column Type:</label>
                        <select v-model="temp_custom_column_object.column_type" @change="validateCustomColumnDefaultValue(editing_custom_column_index, temp_custom_column_object.default_value, temp_custom_column_object.column_type)">
                            <option value="integer">Integer</option>
                            <option value="float">Float</option>
                            <option value="char">Character</option>
                            <option value="varchar">Varchar</option>
                            <option value="text">Text</option>
                            <option value="date">Date</option>
                            <option value="datetime">Datetime</option>
                        </select>
                        <label>Default Type:</label>
                        <textarea v-if="temp_custom_column_object.column_type=='text'" v-model="temp_custom_column_object.default_value"></textarea>
                        <div v-else class="verification-container">
                            <input type="text" v-model="temp_custom_column_object.default_value" @input="validateCustomColumnDefaultValue(editing_custom_column_index, temp_custom_column_object.default_value, temp_custom_column_object.column_type)">
                            <span class="verification-check" id="custom-column-validation-check">✔</span>
                            <span class="verification-x" id="custom-column-validation-x">✖</span>
                        </div>
                        <label>Customer Visible:</label>
                        <select v-model="temp_custom_column_object.customer_visible_yn">
                            <option value="Y">&#x2713;</option>
                            <option value="N">X</option>
                        </select>
                        <label>Customer Populatable:</label>
                        <select v-model="temp_custom_column_object.customer_populatable_yn">
                            <option value="Y">&#x2713;</option>
                            <option value="N">X</option>
                        </select>
                        <label>Exercise Date:</label>
                        <select v-model="temp_custom_column_object.exercise_date_yn">
                            <option value="Y">&#x2713;</option>
                            <option value="N">X</option>
                        </select>
                        <label>Available Before:</label>
                        <select v-model="temp_custom_column_object.available_before">
                            <option :value="null">Always</option>
                            <option v-for="stat in statuses" :value="stat.status_code">{{stat.status_name}} </option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="emp-portal-content" v-if="editing_privilege != null">

                <div class="button-header">
                    <h2>Manage Product <span v-if="product.draft_yn == 'Y'" class="highlight">Draft</span></h2>
                    <div class="header-buttons" style="margin-right: 20px;">
                        <button @click="duplicateProduct" class="secondary-button" style="width: 150px;">Duplicate Product</button>
                        <button @click="publishProduct" class="secondary-button" style="width: 150px;" v-if="['all'].includes(editing_privilege)">Publish Product</button>
                        <button @click="deleteDraft" class="red-button" style="width: 150px;" v-if="['all'].includes(editing_privilege)">Delete Product</button>
                    </div>
                </div>

                <div class="card">
                    <h3 class="card-title">Product Properties</h3>
                    <div class="form-container">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" v-model="product.name" style="width: 100%;" id="name" :disabled="['preview', 'availability'].includes(editing_privilege)" maxlength="255">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" v-model="product.description" style="width: 100%;" id="description" :disabled="['preview', 'availability'].includes(editing_privilege)" maxlength="255">
                        </div>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <div class="custom-select">
                                <select v-model="product.category_id" id="category" @change="categoryChangeLabels" :disabled="['preview', 'availability'].includes(editing_privilege)">
                                    <option v-for="cat in product_categories" :value="cat.category_id">{{cat.category_name}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subcategory">Subcategory:</label>
                            <div class="custom-select">
                                <select v-model="product.subcategory_id" id="subcategory" @change="subcategoryChangeLabels" :disabled="['preview', 'availability'].includes(editing_privilege)">
                                    <option :value="null">None</option> 
                                    <option v-for="cat in productSubcategoriesWithCatalogStatus" :key="cat.subcategory_id" :value="cat.subcategory_id">
                                        {{ cat.displayName }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="subcategory">Currency:</label>
                            <div class="custom-select">
                                <select v-model="product.currency" id="subcategory" :disabled="['preview', 'availability'].includes(editing_privilege)">
                                    <option value="BGN">BGN</option> 
                                    <option value="EUR">EUR</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="max-width: 300px; margin-top: 23px;">Note that if the values below (not the labels) are left blank, they will not be displayed on product pages.</label>
                        </div>

                        <div class="form-group">
                            <label>Term Label:</label>
                            <input type="text" v-model="product.term_label" style="width: 100%;" id="percentage_label" :disabled="['preview', 'availability'].includes(editing_privilege)" maxlength="255">
                        </div>

                        <div class="form-group">
                            <label for="term">Term (in months):</label>
                            <input type="number" v-model="product.term" style="width: 100%;" id="term" :disabled="['preview', 'availability'].includes(editing_privilege)">
                        </div>

                        <div class="form-group">
                            <label for="percentage_label">Percentage Label:</label>
                            <input type="text" v-model="product.percentage_label" style="width: 100%;" id="percentage_label" :disabled="['preview', 'availability'].includes(editing_privilege)" maxlength="255">
                        </div>
                        <div class="form-group">
                            <label for="percentage">Percentage:</label>
                            <input type="number" v-model="product.percentage" style="width: 100%;" id="percentage" :disabled="['preview', 'availability'].includes(editing_privilege)">
                        </div>
                        <div class="form-group">
                            <label for="mon_amt_label">Monetary Amount Label:</label>
                            <input type="text" v-model="product.mon_amt_label" style="width: 100%;" id="mon_amt_label" :disabled="['preview', 'availability'].includes(editing_privilege)" maxlength="255">
                        </div>
                        <div class="form-group">
                            <label for="monetary_amount">Monetary Amount:</label>
                            <input type="number" v-model="product.monetary_amount" style="width: 100%;" id="monetary_amount" :disabled="['preview', 'availability'].includes(editing_privilege)">
                        </div>
                        <div class="form-group">
                            <label for="available_from">Available From:</label>
                            <input type="date" v-model="product.available_from" style="width: 100%;" id="available_from" :disabled="['preview'].includes(editing_privilege)">
                        </div>
                        <div class="form-group">
                            <label for="available_till">Available Till:</label>
                            <input type="date" v-model="product.available_till" style="width: 100%;" id="available_till" :disabled="['preview'].includes(editing_privilege)">
                        </div>
                        
                        <div class="form-group full-width" v-if="!['preview', 'availability'].includes(editing_privilege)">
                            <label>Terms and Conditions:</label> <br>
                            <textarea id="terms_and_conditions" style="max-width: none;"></textarea>
                        </div>
                        <div class="form-group full-width" v-else>
                            <details>
                                <summary>Terms and Conditions</summary>
                                <span v-html="product.terms_and_conditions"></span>
                            </details>
                        </div>
                        
                        <div class="form-group" v-if="!['preview'].includes(editing_privilege)">
                            <button @click="saveProductChanges">Save Changes</button>
                        </div>

                        <div class="form-group">
                            <button @click="cancelProductChanges" class="secondary-button" v-if="!['preview'].includes(editing_privilege)">Cancel Changes</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <table id="draggableTable">
                        <thead>
                            <tr>
                                <th v-if="['all'].includes(editing_privilege)">No.</th>
                                <th>Column Name</th>
                                <th>Column Type</th>
                                <th>Default Value</th>
                                <th>Customer Visible</th>
                                <th>Customer Populatable</th>
                                <th>Is Exercise Date</th>
                                <th>Editable Up To</th>
                                <th v-if="['all'].includes(editing_privilege)">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(col, index) in product.custom_columns">
                                <td v-if="['all'].includes(editing_privilege)">
                                    <input type="number" style="margin: 0px; background: none; border: none; color: black; width: 60px;" v-model="col.order_no">
                                </td>
                                <td>
                                    <input type="text" style="margin: 0px; background: none; border: none; color: black;" v-model="col.column_name">
                                </td>
                                <td>
                                    <select style="margin: 0px; background: none; border: none; color: black;" v-model="col.column_type">
                                        <option value="integer">Integer</option>
                                        <option value="float">Float</option>
                                        <option value="char">Character</option>
                                        <option value="varchar">Varchar</option>
                                        <option value="date">Date</option>
                                        <option value="datetime">Datetime</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="verification-container">
                                        <input type="text" style="margin: 0px; background: none; border: none; color: black;" v-model="col.default_value" @input="validateCustomColumnDefaultValue(index, col.default_value, col.column_type)">
                                        <span class="verification-check" :id="index+'-check'">✔</span>
                                        <span class="verification-x" :id="index+'-x'">✖</span>
                                    </div>
                                    
                                </td>
                                <td>
                                    <select style="margin: 0px; background: none; border: none; color: black;" v-model="col.customer_visible_yn">
                                        <option value="Y">&#x2713;</option>
                                        <option value="N">X</option>
                                    </select>
                                </td>
                                <td>
                                    <select style="margin: 0px; background: none; border: none; color: black;" v-model="col.customer_populatable_yn">
                                        <option value="Y">&#x2713;</option>
                                        <option value="N">X</option>
                                    </select>
                                </td>
                                <td>
                                    <select style="margin: 0px; background: none; border: none; color: black;" v-model="col.exercise_date_yn">
                                        <option value="Y">&#x2713;</option>
                                        <option value="N">X</option>
                                    </select>
                                </td>
                                <td><select style="margin: 0px; background: none; border: none; color: black;" v-model="col.available_before">
                                    <option :value="null">Always</option>
                                    <option v-for="stat in statuses" :value="stat.status_code">{{stat.status_name}} </option>
                                </select></td>
                                <td class="button-container" v-if="['all'].includes(editing_privilege)">
                                    <button class="icon-button" @click="edit_custom_column(index)"><img src="../assets/magnifying-glass-solid.svg" width="15px"></button>
                                    <button class="icon-button" @click="deleteRow(index)"><img src="../assets/trash-solid.svg" width="15px"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-container" style="width: 100%;" v-if="['all'].includes(editing_privilege)">
                        <div class="form-group">
                            <button @click="addRow" class="secondary-button">Add Row</button> 
                        </div>
                        <div class="form-group">
                            <button @click="saveCustomColumns">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-else-if="isLoggedIn && !['A', 'C', 'E'].includes(user_role)" class="content">
            <h2 style="color: red; text-align: center;">You do not have access to this page!</h2>
        </div>

        <div v-else class="content">
            <h2 style="color: red; text-align: center;">You are not logged in!</h2>
        </div>
    </div>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    isLoggedIn: isLoggedIn(),
                    user_role: sessionStorage.getItem("user_role"),
                    user_account_id: sessionStorage.getItem("account_id"),
                    menu: [],
                    openIndex: null, 
                    product_categories: [], 
                    page_is_for_product_id: null, 
                    product: {}, 
                    init_product: {},
                    product_categories: [], 
                    product_subcategories: [], 
                    editing_privilege: null, 
                    statuses: [], 
                    editing_custom_column_index: 0, 
                    temp_custom_column_object: {}
                };
            },
            methods: {
                async loadMenu () {
                    try {
                        const response = await fetch("menu.json");
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        const menu = await response.json();
                        this.menu = menu;
                    } catch (error) {
                        console.error("Failed to load menu:", error);
                    }
                },
                toggleAccordion(index) {
                    this.openIndex = this.openIndex === index ? null : index;
                },
                async loadPageContents () {
                    const url = new URL(window.location.href);
                    const params = new URLSearchParams(url.search);
                    const product_id = params.get("product_id");
                    this.page_is_for_product_id = product_id;  // Set the correct property

                    const response = await fetch(`${API_BASE_URL}/product/${product_id}`, {
                        method: "GET", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }
                    });
                    const data = await response.json();
                    if(!response.ok) {
                        console.log(`An error occurred: ${data}`);
                    }
                    this.init_product = JSON.parse(JSON.stringify(data)); // Create a deep copy
                    this.product = JSON.parse(JSON.stringify(data)); // Create a deep copy
                    console.log(this.product);

                    const response1 = await fetch(`${API_BASE_URL}/product/categories?only_catalog_yn=N`, {
                        method: "GET"
                    });
                    const data1 = await response1.json();
                    if(!response1.ok) {
                        console.log(`An error occurred: ${data1}`);
                    }
                    this.product_categories = data1; 

                    const response2 = await fetch(`${API_BASE_URL}/front-end/dd-options`, {
                        method: "GET"
                    });
                    const data2 = await response2.json();
                    if(!response2.ok) {
                        console.log(`An error occurred: ${data2}`);
                    }
                    this.statuses = data2["statuses"];

                    this.loadSubcategory();

                    draft_yn = this.product.draft_yn;
                    draft_owner = this.product.draft_owner;
                    if (draft_yn == 'Y' ) {
                        if (draft_owner == this.user_account_id || ['A', 'C'].includes(this.user_role)) {
                            this.editing_privilege = "all";
                        }
                        else {
                            this.editing_privilege = "preview";
                        }
                    }
                    else {
                        if (this.user_role == 'A') {
                            this.editing_privilege = "properties";
                        }
                        else if (this.user_role == 'C') {
                            this.editing_privilege = "availability";
                        }
                        else {
                            this.editing_privilege = "preview";
                        }
                    }
                    console.log(this.editing_privilege);

                    new Promise((resolve) => {
                        setTimeout(resolve, 1000);
                    }).then(() => {
                        tinymce.init({
                            selector: '#terms_and_conditions', 
                            height: 300,
                            license_key: 'gpl',
                            plugins: 'lists link',
                            toolbar: 'undo redo | blocks | bold italic link | alignleft aligncenter alignright alignjustify | numlist bullist | indent outdent | wordcount',
                            setup: function (editor) {
                                editor.on('init', function () {
                                    editor.setContent(data.terms_and_conditions);
                                });
                            }
                        });
                    });
                }, 
                async categoryChangeLabels () {
                    // this function is invoked on changes to the category
                    this.product.subcategory_id = null;
                    if (confirm("Do you want the new category's labels to override your existing ones?\nPress \"Ok\" for yes\nPress \"Cancel\" for no")) {
                        const new_category = this.product_categories.find(cat => cat.category_id === this.product.category_id);
                        this.product.term_label = new_category.term_label;
                        this.product.mon_amt_label = new_category.mon_amt_label;
                        this.product.percentage_label = new_category.percentage_label;
                        
                    }
                    await this.loadSubcategory();
                },
                async subcategoryChangeLabels () {
                    // this function is invoked on changes to the subcategory
                    if (confirm("Do you want the new subcategory's labels to override your existing ones?\nPress \"Ok\" for yes\nPress \"Cancel\" for no")) {
                        const new_subcategory = this.product_subcategories.find(subcat => subcat.subcategory_id === this.product.subcategory_id);
                        if (new_subcategory.term_label !== null) {
                            this.product.term_label = new_subcategory.term_label;
                        }
                        if (new_subcategory.mon_amt_label !== null) {
                            this.product.mon_amt_label = new_subcategory.mon_amt_label;
                        }
                        if (new_subcategory.percentage_label !== null) {
                            this.product.percentage_label = new_subcategory.percentage_label;
                        }
                    }
                },
                async loadSubcategory() {
                    if (this.product.category_id == null) {
                        this.product_subcategories = []; 
                        console.log(this.product_subcategories);
                        return;
                    }
                    const response = await fetch(`${API_BASE_URL}/product/subcategories?category_id=${this.product.category_id}&only_catalog_yn=N`, {
                        method: "GET", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }
                    });
                    const data = await response.json();
                    if(!response.ok) {
                        console.log(`An error occurred: ${data}`);
                    }
                    this.product_subcategories = data;
                    console.log(this.product_subcategories);
                }, 
                async duplicateProduct() {
                    const response = await fetch(`${API_BASE_URL}/product/${this.page_is_for_product_id}/duplicate`, {
                        method: "POST", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }
                    });
                    const data = await response.json();
                    if(!response.ok) {
                        console.log(`An error occurred: ${data}`);
                        return ; 
                    }
                    new_product_id = data["product_id"];

                    window.location.href = `product.html?product_id=${new_product_id}`;
                },
                async saveProductChanges() {
                    if (this.editing_privilege == "all" || this.editing_privilege == "properties") {
                        const changes = {};
                        var editor = tinymce.get('terms_and_conditions');
                        var content = editor.getContent();
                        this.product.terms_and_conditions = content;

                        for (const key in this.product) {
                            if (key !== 'custom_columns' && this.product[key] !== this.init_product[key]) {
                                changes[key] = this.product[key] ? this.product[key] : "__null__";
                            }
                        }
                        console.log(this.product.terms_and_conditions);
                        console.log(changes);

                        if (this.editing_privilege == "all") {
                            const response = await fetch(`${API_BASE_URL}/product/draft/${this.page_is_for_product_id}`, {
                                method: "PATCH", 
                                headers: {
                                    "Content-Type": "application/json",
                                    "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                                }, 
                                body: JSON.stringify(changes)
                            });
                            const data = await response.json();
                            if (!response.ok) {
                                console.log(`An error occurred: ${data}`);
                                return;
                            }
                        }
                        else {
                            const response = await fetch(`${API_BASE_URL}/product/${this.page_is_for_product_id}`, {
                                method: "PATCH", 
                                headers: {
                                    "Content-Type": "application/json",
                                    "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                                }, 
                                body: JSON.stringify(changes)
                            });
                            const data = await response.json();
                            if (!response.ok) {
                                console.log(`An error occurred: ${data}`);
                                return;
                            }
                        }
                    }
                    else if (this.editing_privilege == "availability") {
                        const response = await fetch(`${API_BASE_URL}/product/${this.page_is_for_product_id}/availability`, {
                            method: "PUT", 
                            headers: {
                                "Content-Type": "application/json",
                                "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                            }, 
                            body: JSON.stringify({
                                "available_from": this.product.available_from,
                                "available_till": this.product.available_till
                            })
                        });
                        const data = await response.json();
                        if (!response.ok) {
                            console.log(`An error occurred: ${data}`);
                            return;
                        }
                    }
                    
                    window.location.reload();
                },
                cancelProductChanges() {
                    this.product = { ...this.init_product };
                    tinymce.get('terms_and_conditions').setContent(this.product.terms_and_conditions || '');
                }, 
                async saveCustomColumns() {
                    console.log(this.product.custom_columns);

                    const response = await fetch(`${API_BASE_URL}/product/draft/${this.page_is_for_product_id}/custom-columns`, {
                        method: "PUT", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }, 
                        body: JSON.stringify(this.product.custom_columns)
                    });
                    const data = await response.json();
                    if(!response.ok) {
                        console.log(`An error occurred: ${data}`);
                        return;
                    }
                    window.location.reload();
                }, 
                async publishProduct() {
                    if (!confirm("Are you sure you want to publish this product?")) {
                        return;
                    }

                    let invalidColumns = "";
                    for (let i = 0; i < this.product.custom_columns.length; i++) {
                        let col = this.product.custom_columns[i];
                        if (!this.validateCustomColumnDefaultValue("bool", col.default_value, col.column_type)) {
                            invalidColumns += "\n" + col.column_name;
                        }
                    }
                    if (invalidColumns.length !== 0) {
                        console.log("Activated")
                        alert("Please correct the default values of the following custom columns:" + invalidColumns);
                        return;
                    }

                    const response = await fetch(`${API_BASE_URL}/product/draft/${this.page_is_for_product_id}`, {
                        method: "PATCH", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }, 
                        body: JSON.stringify({
                            "draft_yn": "N"
                        })
                    });
                    const data = await response.json();
                    if(!response.ok) {
                        console.log(`An error occurred: ${data}`);
                        return ;
                    }
                    window.location.reload();
                }, 
                async deleteDraft() {
                    if (!confirm("Are you sure you want to delete this product?")) {
                        return;
                    }
                    const response = await fetch(`${API_BASE_URL}/product/draft/${this.page_is_for_product_id}`, {
                        method: "DELETE", 
                        headers: {
                            "Content-Type": "application/json",
                            "Authorization": `Bearer ${sessionStorage.getItem("token")}`
                        }
                    });
                    const data = await response.json();
                    if(!response.ok) {
                        console.log(`An error occurred: ${data}`);
                        return ;
                    }
                    window.location.href = "../employee-portal/manage-catalog.html";
                }, 
                addRow() {
                    this.product.custom_columns.push({
                        "order_no": Math.max(0, ...this.product.custom_columns.map(col => col.order_no).filter(n => Number.isFinite(n))) + 1,
                        "column_name": null,
                        "customer_visible_yn": 'N',
                        "customer_populatable_yn": 'N',
                        "column_type": "integer",
                        "default_value": null,
                        "exercise_date_yn": 'N',
                        "available_before": null
                    })
                }, 
                deleteRow(index) {
                    this.product.custom_columns.splice(index, 1);
                }, 
                validateCustomColumnDefaultValue(index, value, datatype){
                    
                    let isValid = false;

                    // Validation logic based on datatype
                    switch(datatype) {
                        case 'integer':
                            isValid = /^-?[0-9]+$/.test(value);
                            break;
                        case 'float':
                            isValid = /^-?[0-9]+(\.[0-9]+)?$/.test(value);
                            break;
                        case 'date':
                            if (/^[0-9]{4}-[0-9]{2}-[0-9]{2}$/.test(value)) {
                                const date = new Date(value);
                                isValid = !isNaN(date.getTime());
                            } else {
                                isValid = false;
                            }
                            break;
                        case 'datetime':
                            if (/^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$/.test(value)) {
                                const datetime = new Date(value);
                                isValid = !isNaN(datetime.getTime());
                            } else {
                                isValid = false;
                            }
                            break;
                        case 'char':
                            isValid = value.length <= 1;
                            break;
                        case 'varchar':
                            isValid = value.length <= 255;
                            break;
                        case 'text':
                            isValid = true; // No length constraint for text
                            break;
                        default:
                            isValid = false;
                            break;
                    }

                    if (index == "bool") {
                        return isValid;
                    }

                    // Get the elements for validation feedback
                    const Check = document.getElementById('custom-column-validation-check');
                    const X = document.getElementById('custom-column-validation-x');

                    // Display the validation result
                    if (value == "" || value == null) {
                        Check.style.display = "none";
                        X.style.display = "none";
                    } else if (isValid) {
                        Check.style.display = "inline";
                        X.style.display = "none";
                    } else {
                        Check.style.display = "none";
                        X.style.display = "inline";
                    }
                }, 
                edit_custom_column(index) {
                    console.log(this.product.custom_columns);

                    const popup = document.getElementById("customColumnPopup");
                    if (index !== null) {
                        console.log(this.product.custom_columns[index]);
                        this.temp_custom_column_object = this.product.custom_columns[index];
                        popup.style.display = "flex";
                    }
                    else {
                        popup.style.display = "none"; 
                    }
                    this.validateCustomColumnDefaultValue(index, this.temp_custom_column_object.default_value, this.temp_custom_column_object.column_type);
                }
            },
            mounted() {
                this.loadMenu();
                redirectIfNotLoggedIn();
                this.loadPageContents();
            },
            computed: {
                productSubcategoriesWithCatalogStatus() {
                    return this.product_subcategories.map(cat => {
                        return {
                            ...cat,
                            displayName: cat.catalog_yn === 'N' ? `${cat.subcategory_name} (Not in Catalog)` : cat.subcategory_name
                        };
                    });
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
