<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alex Bank</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  <meta name="theme-color" content="rgb(131, 152, 162)" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="src/style.css">
  <script src="src/functions.js"></script>
  <style>
    img.full-width {
      width: 100%;
      margin-top: 74px;
      transition: width 0.3s ease, border-radius 0.3s ease, margin 0.3s ease;
    }
    img.scrolled {
      width: 80%;
      margin: 74px 10% 0 10%;
      border-radius: 15px;
      display: block;
    }

    @media (max-width: 768px) {
        img.scrolled {
            margin: 74px 16px 0 16px;
            width: calc(100% - 32px);
        }
    }

  </style>
</head>

<body>
<div id="app">
  <nav class="navbar">
    <div class="wrapper">
      <a href="index.html">
        <img src="img/alex_bank.png" alt="Logo">
      </a>
        <ul v-if="isLoggedIn">
          <!-- <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li> -->
          <li><a href="products/index.html">Products</a></li>
          <li><a href="employee-portal/index.html" v-if="['A', 'C', 'E'].includes(user_role)">Employee Portal</a></li> 
          <li><a href="myaccount/index.html">My Account</a></li>
        </ul>
        <ul v-else>
          <li><a href="products/index.html">Products</a></li>
          <li><a href="signup/index.html">Sign Up</a></li>
          <li><a href="login/index.html">Log In</a></li>
        </ul>
    </div>
  </nav>

  <img id="main-image" class="full-width" src="img/office.png">
  <div class="content" style="margin-top: 0px !important; text-align: justify; padding-left: 0px !important; padding-right: 0px !important;">
    <h1>Your Gateway to Innovative Financial Solutions</h1>
        <p>Welcome to Alex Bank, where innovation meets accessibility. As a forward-thinking private bank, we are dedicated to providing tailored financial services that cater to a diverse range of clients. At Alex Bank, we believe that everyone deserves access to high-quality financial products, which is why we specialize in offering Over-the-Counter (OTC) services of small value, making sophisticated financial instruments available to a broader audience.</p>
        <h2>Our Products</h2>
          <p><b>Loans:</b> Flexible and personalized loan options designed to meet your unique financial needs, whether you're looking to fund a new business venture, consolidate debt, or make a significant purchase.</p>
          <p><b>Unconventional Derivatives:</b> Explore innovative and customized derivative products that can help you manage risk and leverage opportunities in the financial markets. Our expert team is here to guide you through the complexities and benefits of these instruments.</p>
          <p><b>Private Equity Shares:</b> Gain access to exclusive investment opportunities with our private equity share offerings. Invest in promising private companies and benefit from potential high returns, all with the support and expertise of Alex Bank.</p>
        <h2>Contact Us</h2>
          <p>Ready to take the next step? Reach out to our team today to learn more about how Alex Bank can help you achieve your financial objectives. Visit our website or contact us directly to speak with one of our knowledgeable representatives.</p>
  </div>
</div>

<script>
  const { createApp } = Vue;
  createApp({
    data() {
      return {
        isLoggedIn: isLoggedIn(), 
        user_role: sessionStorage.getItem('user_role')
      };
    },
    methods: {
      // methods
    }
  }).mount('#app');

  window.addEventListener('scroll', function() {
    const img = document.getElementById('main-image');
    if (window.scrollY > 50) { // Adjust the scroll value as needed
      img.classList.add('scrolled');
    } else {
      img.classList.remove('scrolled');
    }
  });
</script>
</body>
</html>
