<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alex Bank</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="icon" type="image/x-icon" href="img/alex_bank.ico" />
  <meta name="theme-color" content="rgb(131, 152, 162)" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="src/style.css">
  <script src="src/functions.js"></script>
</head>

<body>
<div id="app">
  <nav class="navbar">
    <div class="wrapper">
      <a href="index.html">
        <img src="img/alex_bank.png" alt="Logo">
      </a>
        <ul v-if="isLoggedIn">
          <!-- <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li> -->
          <li><a href="employee-portal/index.html" v-if="user_role == 'A' || user_role == 'C' || user_role == 'E'">Employee Portal</a></li> 
          <li><a href="myaccount/index.html">My Account</a></li>
        </ul>
        <ul v-else>
          <li><a href="signup/index.html">Sign Up</a></li>
          <li><a href="login/index.html">Log In</a></li>
        </ul>
    </div>
  </nav>

  <div class="content">
    <h1>Welcome to Alex Bank</h1>
    <div>
      <p v-if="isLoggedIn">User is logged in</p>
      <p v-else>User is not logged in</p>
    </div>
  </div>
</div>

<script>
  const { createApp } = Vue;
  createApp({
    data() {
      return {
        isLoggedIn: isLoggedIn(), 
        user_role: sessionStorage.getItem('user_role')
      };
    },
    methods: {
      // methods
    }
  }).mount('#app');
</script>
</body>
</html>