<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alex Bank</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
  <meta name="theme-color" content="rgb(131, 152, 162)" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../src/style.css">
  <script src="../src/functions.js"></script>
</head>

<body>
<div id="app">
  <nav class="navbar">
    <div class="wrapper">
      <a href="../index.html">
        <img src="../img/alex_bank.png" alt="Logo">
      </a>
        <ul v-if="isLoggedIn">
          <li><a href="index.html">Products</a></li>
          <li><a href="../employee-portal/index.html" v-if="['A', 'C', 'E'].includes(user_role)">Employee Portal</a></li> 
          <li><a href="../myaccount/index.html">My Account</a></li>
        </ul>
        <ul v-else>
          <li><a href="index.html">Products</a></li>
          <li><a href="../signup/index.html">Sign Up</a></li>
          <li><a href="../login/index.html">Log In</a></li>
        </ul>
    </div>
  </nav>

  <div class="content">
    <h1>Our Products</h1>

    <div v-if="page_is_for_category_id != null" class="product-grid">
        <a v-for="prod in products" href="#" class="product-card">
            <!-- <img :src="'../img/products/' + prod.category_id + '.png'" alt="Product Image"> -->
            <div class="product-title">{{ prod.name }}</div>
            <div class="product-description">{{ prod.description }}.</div>
        </a>
    </div>
    <div v-else class="product-grid">
        <a v-for="cat in product_categories.slice().reverse()" :key="cat.category_id" :href="'index.html?category_id='+cat.category_id" class="product-card">
            <img :src="'../img/products/' + cat.category_id + '.png'" alt="Product Image">
            <div class="product-title">{{ cat.category_name }}</div>
            <div class="product-description">{{ cat.category_description }}.</div>
        </a>
    </div>
  </div>
</div>

<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        isLoggedIn: isLoggedIn(),
        user_role: sessionStorage.getItem('user_role'),
        product_categories: [],
        page_is_for_category_id: null, 
        products: []
      };
    },
    async mounted() {
      await this.fetchProductCategories();
      this.getCategory();
      await this.fetchProducts();
    },
    methods: {
      async fetchProductCategories() {
        try {
          const response = await fetch(`${API_BASE_URL}/product/categories`, {
            method: "GET"
          });
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          const data = await response.json();
          this.product_categories = data;
        } catch (error) {
          console.error('Error fetching product categories:', error);
        }
      },
      getCategory() {
        const url = new URL(window.location.href);
        const params = new URLSearchParams(url.search);
        const category_id = params.get("category_id");
        this.page_is_for_category_id = category_id;  // Set the correct property
      }, 
      async fetchProducts() {
        try {
            if (this.page_is_for_category_id != null) {
                const response = await fetch(`${API_BASE_URL}/product/products?category_id=${this.page_is_for_category_id}`, {
                    method: "GET"
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                this.products = data; 
            }
            else {
                return ;
            }
        } catch (error) {
            console.error('Error fetching product categories:', error);
        }
      }
    }
  }).mount('#app');
</script>
</body>
</html>
